html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Hanken Grotesk", sans-serif;
  overflow-x: hidden;
}

.banner-bg {
  background-image: url("../../Assets/Images/backgrounds/background.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
}

.content {
  margin-top: 100px;
  z-index: 2;
  text-align: center;
  position: relative;
}

.introduction,
.name-title,
.developer-info {
  margin: 0;
  padding: 5px 0;
}

.introduction {
  font-size: 1.2rem;
  color: #cbacf9;
  margin-top: 10px;
}

.name-title {
  font-size: 4rem;
  font-weight: bold;
  max-width: 700px;
  margin: 0 auto;
}

.developer-info {
  font-size: 2rem;
  color: #dfcbfc;
}

#ux {
  color: #cbacf9;
}

@media (max-width: 768px) {
  .name-title {
    font-size: 2.5rem;
  }
  .introduction {
    font-size: 1rem;
  }
  .developer-info {
    font-size: 0.8rem;
  }
}

.who {
  font-size: 4rem;
  margin-bottom: 60px;
}

.who span {
  color: #cbacf9;
}

@media (max-width: 480px) {
  .who {
    font-size: 2.8rem;
  }
}
