.image-line {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.line-image {
  width: 100%;
  max-width: 200px;
  height: auto;
  transition: transform 0.3s ease;
}

.line-image:hover {
  transform: scale(1.05);
}

@media (max-width: 480px) {
  .line-image {
    max-width: 120px;
  }
}
